<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>java_s04</param-value>
    </init-param>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>common.MultiPartApp</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/api/v1.1/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpensesListServlet</display-name>
    <servlet-name>ExpensesListServlet</servlet-name>
    <servlet-class>java_s04.ExpensesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpensesListServlet</servlet-name>
    <url-pattern>/ExpensesListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpensesList</display-name>
    <servlet-name>ExpensesList</servlet-name>
    <servlet-class>ExpensesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpensesList</servlet-name>
    <url-pattern>/ExpensesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpensesLists</display-name>
    <servlet-name>ExpensesLists</servlet-name>
    <servlet-class>java_s04.ExpensesLists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpensesLists</servlet-name>
    <url-pattern>/ExpensesLists</url-pattern>
  </servlet-mapping>
</web-app>